[2019-02-12 02:34] mgifford opened #1 "Add to the instructions"
I'd make mention about adding **helm** to the instructions

https://docs.helm.sh/using_helm/#installing-helm

Folks should be installing this locally before playing with it in the cloud. Let's make it easy for them.

And **tiller** too actually.

[2019-02-12 02:36] mgifford opened #2 "2. Git clone the helm charts until repository is published under gh-pages."
Ok, step back a bit.

I'm looking at https://github.com/drupalwxt/helm-drupalwxt

I have docker & Kubernetes running on my Mac.  Where should I expect to find `gh-pages`?

[2019-02-12 12:58] mgifford opened #3 "Documentation when complete"
The instructions when you successfully run the site should say something about scrolling up.  The instructions for "3. Optionally run the site installation through Drush" just look enough like error messages it took me a while to figure out there was useful information at the top.

I also can load the site here - http://127.0.0.1:8080 - but would be useful if the documentation said where to load t

[2019-02-12 12:59] mgifford opened #4 "The directory /var/www/files_private does not exist."
`FILE SYSTEM
Writable (public download method)
The directory /var/www/files_private does not exist. An automated attempt to create this directory failed, possibly due to a permissions problem. To proceed with the installation, either create the directory and modify its permissions manually or ensure that the installer has the permissions to create it automatically. For more information, see INSTAL

[2019-05-21 20:12] #4 closed

[2019-05-21 20:14] #3 closed

[2019-05-21 20:14] #2 closed

[2019-05-21 20:15] zachomedia commented on #1
There is already a link to the helm site in the Readme.

[2019-05-21 20:15] #1 closed

[2019-05-21 20:15] zachomedia opened #8 "Add cronjob for Drupal Cron"

[2019-05-21 20:18] zachomedia opened #9 "Run lightning updates on reconfigure job"
In addition to running database updates, should also run the lightning updates.

[2019-05-22 16:59] #9 closed

[2019-08-04 00:31] #8 closed

[2019-10-19 13:47] ryanhyma opened #10 "Error in themes/custom/wxt_bootstrap/templates/system/page.html.twig"
After deploying the Drupal container, the following error is displayed:
The website encountered an unexpected error. Please try again later.</br></br><em class="placeholder">Twig\Error\SyntaxError</em>: The block &#039;header&#039; has already been defined line 120. in <em class="placeholder">Twig\TokenParser\BlockTokenParser-&gt;parse()</em> (line <em class="placeholder">138</em> of <em class="pl

[2019-10-24 15:28] sylus commented on #10
How have you deployed this?

This was fixed in a newer release of this helm chart.

Thanks!

[2019-10-25 13:49] ryanhyma commented on #10
With the newer version of the helm chart, the site install script doesn't run for me. I'm able to manually install if I disable the script. I'm using the terraform scripts from your statcan repo: https://github.com/StatCan/terraform-kubernetes-aks

Last week, I would see the instller jobs running, now the only job I see is the bucket creation. I make sure to run helm delete drupal then helm delete

[2019-10-25 13:53] sylus commented on #10
We added you to our slack channel so can go back and forth a bit faster, and see what is up. Everything honestly should just run with no intervention.

@zachomedia send you a response in email :D

[2019-10-31 02:41] sylus commented on #10
Worked with you on this and think is good now :D

[2019-10-31 02:41] #10 closed

[2019-11-10 21:07] ryanhyma opened #12 "Is osb a working feature?"
Enabling it, and disabling mysql results in yaml errors.

[2019-12-22 19:44] sylus commented on #12
Hey this does work but it is a bit finicky, I'd have to know more about errors.

That being said think it is easier to setup the Managed DB via Terraform / Manual, and then can pass those values to the helm chart.

We just got everything working via NFS with Azure Files so now that we don't need minio will be adding the ability to use Managed DB whether MySql / PostgreSQL next.

[2019-12-23 00:43] #12 closed

[2020-01-10 19:15] ryanhyma opened #14 "ValidationError(Deployment.spec.template.spec.volumes[1]): unknown field"
With the current build, and most recent helm:
helm install drupaltest -f values-nfs-azurefile.yaml --wait --timeout 5m --namespace drupaltest .
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Deployment.spec.template.spec.volumes[1]): unknown field "items" in io.k8s.api.core.v1.Volume

removeing the items element from the

[2020-01-10 19:57] ryanhyma opened #15 "Install fails when using NFS and defaults"
helm install drupaltest -f values-nfs-azurefile.yaml --wait --timeout 20m --namespace drupaltest .

The pods come up but the installation fails with the following:
 // You are about to DROP all tables in your 'wxt' database. Do you want to
 // continue?: yes.

 [notice] Starting Drupal installation. This takes a while.

In FileSystem.php line 506:

  File 'modules/contrib/video_embed_field/modules

[2020-01-11 19:55] sylus commented on #15
Oh! There is a fix for this, I totally forgot to commit, for some reason we need to create that as a folder ahead of time and if we do that we get around this issue. I will commit it this weekend! @zachomedia

[2020-01-12 00:01] sylus commented on #15
This should be fixed now :D

https://github.com/drupalwxt/helm-drupal/commit/5454b8dce94b88a12fc49d950409769cf81b7ad6

[2020-01-12 00:01] #15 closed

[2020-01-12 00:07] #14 closed

[2020-01-12 00:08] zachomedia commented on #14
@ryanhyma Can you try the updated chart? It looks like the items field was incorrect indented and should have been under `secret`

[2020-01-12 13:40] ryanhyma commented on #14
Seems to run without issue now.

[2020-01-12 13:51] ryanhyma opened #16 "drupal-site-install - Errors setting file permissions"
The install does work, but the log does not look, maybe not important:

[warning] chmod(): Operation not permitted FileSystem.php:236
 [success] Installation complete.
real	3m 55.02s
user	1m 24.62s
sys	0m 15.01s

 // Do you want to update wxt.theme key in wxt_library.settings config?: yes.

 [success] Cache rebuild complete.
 [error]  The file permissions could not be set on public://218x291.png.

[2020-01-12 17:38] zachomedia commented on #16
@ryanhyma Yeah, that's expected because of how Azure's file shares implements access control.

Because of this, calls to `chmod` fail but can be ignored in this case.

[2020-01-28 13:32] #16 closed

[2020-01-28 13:32] ryanhyma commented on #16
Closing issue.

[2020-01-28 13:33] ryanhyma opened #18 "Samples folder"
Any thoughts on a samples folder for the values config files?
I have some sample value files that contain security fixes based on kube-scan that could be beneficial.
Every config is different though so it is hard to add to the defaults.

[2020-04-10 21:20] bernardmaltais opened #21 "Error: unable to build kubernetes objects from release manifest"
I have attempted to deploy the drupalwxt using the helm chart with the following command:

`helm install gocweb --namespace gocweb ./drupal -f ./drupal/values.yaml`

but I run into this error:

[code]

I am running helm version:
`version.BuildInfo{Version:"v3.0.3", GitCommit:"ac925eb7279f4a6955df663a0128044a8a6b7593", GitTreeState:"clean", GoVersion:"go1.13.6"}`

on kubernetes v1.17.3 using k3d:

[2020-04-10 22:34] bernardmaltais commented on #21
I also upgraded to the latest versions of helm (3.1.2) and kubectl (v1.18.1) with the same error.

[2020-04-10 23:20] bernardmaltais commented on #21
OK... Look like the dependency charts are too old. I updated them to the latest available versions:

[code]

Then did a

[code]

and now things appear to deploy using helm3. Fingers crossed.

[2020-04-11 14:24] bernardmaltais commented on #21
I ran in another issue with the deployment. The minio mc policy command appear to use an old syntax and fail during the deployment.  The command should be updated to:

[code]

[2020-04-11 14:42] bernardmaltais commented on #21
OK. Now the site build fine but I think there is an issue with CSS not being served. I only have text and not formatting/pictures.

[2020-04-11 16:19] bernardmaltais commented on #21
Final update. The issue with minio was related to the wrong resolver: ip address. After looking up my specific kubernetes resolver ip and setting the resolver value to it the minio based content is now properly served.

[2020-04-12 00:54] bernardmaltais commented on #21
OK. I discovered that setting:

```resolver: kube-dns.kube-system.svc.cluster.local```

work on most kubernetes cluster. That way no need to fiddle too much with the resolver IP ;-)

[2020-04-16 19:46] zachomedia commented on #21
Thanks for providing all this information! Sorry I missed this ticket in my email

[2020-04-16 19:48] bernardmaltais commented on #21
No issues. I created a pull request for the fix but travis is not liking it one bit ;-)

[2020-05-11 05:26] #21 closed

[2020-06-05 16:13] zachomedia opened #23 "Add max execution time to cronjob"
This will prevent a stack of cronjobs running if something causes the cronjob to fail or hang.

[2020-06-08 02:24] #18 closed

[2020-06-08 02:24] sylus commented on #18
Feel free to file a P.R. for any of the more useful ones in a sample folder :D

[2020-06-08 02:42] sylus commented on #23
Think this will work?

All newer jobs will replace the existing one if is hanging, also check that at least runs and we can enforce a max of 5 so don't get inundatedd with calls.

The core-cron issue itself should be fixed so think this is reasonable?

[2020-06-08 14:06] #23 closed

[2020-09-10 17:31] bmaltais opened #33 "Issue deploying the chart"
I am trying to deploy the chart with:

[code]

but I am getting the following error:

[code]

Look like it is possibly related to minio?

[2020-09-10 17:54] bmaltais commented on #33
More info. I found this reference to an issue with the minio template and new version of go: https://community.gitpod.io/t/issues-installing-on-own-k8/1531/5

Not sure what is the relation between them yet...

[2020-09-10 18:26] bmaltais commented on #33
More update. I was able to fix the issue by updating the version of minio being deployed to 6.0.5. Look like the old 5.0.x release is not compliant with new version of helm due to golan validation:

[code]

[2020-09-13 07:00] sylus commented on #33
Hey @bmaltais thanks so much for finding this and sorry caused issues.

Especially since we at least ourselves are more using Azure Files (NFS) for the shared mounts without needing the minio deployment and Drupal logic for handling s3.

[2020-09-13 07:04] sylus commented on #33
I pushed your fix up and really appreciate you taking the time, and apologies for the delay.

[2020-09-13 07:04] #33 closed

[2020-11-21 15:58] bernardmaltais opened #37 "varnish will not validate when used in values file"
I tried to add the varnish component by configuring the values.yaml file as shown in the example values files. Unfortunatly it result in a strange error as see below:

[code]

The values for varnish I tried to use are the following. I even tried adding an annotations section but no luck:

[code]

Any ideas?

[2020-11-21 23:41] zachomedia commented on #37
@bernardmaltais Oh good catch! This was actually fixed in the upstream varnish chart but we didn't end up updating the import version to 0.1.4.

Let me quickly make that change!

[2020-11-22 04:06] #37 closed

[2020-11-22 04:06] zachomedia commented on #37
@bernardmaltais Can you try now with the latest chart? Thanks!

[2020-11-22 13:32] bernardmaltais commented on #37
It is working now. Many thanks!

[2020-11-22 13:45] bernardmaltais opened #38 "varnish pod crashloopback"
Trying to make use of the recently updated varnish template result in a pod crashloopback with the following error:

![image](https://user-images.githubusercontent.com/25299479/99905405-97502900-2c9e-11eb-92d6-bfdae9a144eb.png)

[code]

[2020-11-22 13:47] bernardmaltais commented on #38
I think it has to do with the host name it is trying to find. It is looking for `drupal-wxt-varnish-drupal` but that name does not exist. On the other hand `drupal-wxt-varnish` does exist.

[2020-11-22 14:10] bernardmaltais commented on #38
Also, looking at the template code I am not sure varnish would actually get used as I am not finding code that would reconfigure the ingress to use varnish instead of nginx. Is it possible this just deploy varnish without integrating it in the flow between the user and nginx?

[2020-11-22 18:40] sylus commented on #38
Ah sorry this was pushed half done, and it was supposed to be updated last week from our working internal.

I have just synced it right now in this P.R. and waiting for @zachomedia to approve it :D

https://github.com/drupalwxt/helm-drupal/pull/40/files

[2020-11-22 18:43] bernardmaltais commented on #38
Well well well... after digging a bit more in the varnish chart I figured there is a very important value that actually need to be passed within the `varnish:` section of the helm-drupal char values.yaml... the `varnishConfigContent` value. After setting it to the appropriate values things appear to deploy properly. The default ingress is still not pointing to varnish so no traffic actually goes t

[2020-11-22 18:47] sylus commented on #38
Ah @bernardmaltais  think you just posted after what I just posted :P

There is a P.R. with all this working just waiting on @zachomedia to approve it

https://github.com/drupalwxt/helm-drupal/pull/40/files

We do also bake all of this into the chart so shouldn't be anything you have to do :D

[2020-11-22 18:49] bernardmaltais commented on #38
@sylus Nice. I was wondering about that. This gave me a chance to poke at the bear so to speak to make it growl ;-) I will look forward to the merge for the update. Many thanks!

[2020-11-22 18:50] sylus commented on #38
Is now merged :D

https://github.com/drupalwxt/helm-drupal/pull/40

[2020-11-22 18:57] sylus commented on #38
1) kind create cluster --config kind.yaml

[code]

2) helm install drupal -f values-hostpath-kind.yaml --set varnish.enabled=true .

[2020-11-22 19:00] bernardmaltais commented on #38
@sylus That was quick! It does indeed deploy perfectly now! Nice work guys! We are debating internally between building our deployment in Azure App Services using containers or leveraging this great piece of work. Obviously I am for reusing your work as this is the reason you make this open and available with great support.

I have a few questions regarding how to best operate the solution once de

[2020-11-22 19:05] sylus commented on #38
Awesome to hear and yeah Zachary is going to get back to your email soon we did a whole write up aboutsome of the downsides of Azure Web Apps (and why is disabled at our dept since we have a platform team) and Zachary will give you a detailed reply. We could also share our security controls, and concept of operations that we recieved an ATO for our cloud platform with.

In essence Azure Web Apps i

[2020-11-22 19:10] bernardmaltais commented on #38
Awesome! This will be very helpful for us. It is nice to stand on the shoulder of a giant ;-)

[2020-11-22 19:12] sylus commented on #38
@bernardmaltais

If you get a chance try out Kind for local dev https://kind.sigs.k8s.io/

I tested varnish myself and worked and showed all the steps here:

https://github.com/drupalwxt/helm-drupal/issues/38#issuecomment-731815239

[2020-11-22 19:14] sylus commented on #38
Closing this out thanks for testing it :D

[2020-11-22 19:14] #38 closed

[2020-11-22 19:42] sylus commented on #38
@bernardmaltais

Remember we do have this here but it doesn't have the pgbouncer and varnish configurations:

https://github.com/drupalwxt/terraform-containers-webapp-azure

Also we have this if you decide to go for Managed Postgresql which our chart supports external dbs:

https://github.com/canada-ca-terraform-modules/terraform-azurerm-postgresql

[2020-11-23 04:16] sylus commented on #38
@bernardmaltais just in case you decide to test the redis integration you will need to run chart version 0.6.6 and point to these images until the next release as we just added the redis library https://github.com/drupalwxt/docker-scaffold/commit/1deda6b47e65a94618801e2e807e7821a3a045d6

drupalwxt/site-wxt:4.0.0-rc1-redis
drupalwxt/site-wxt:40.0-rc1-redis-nginx

[2020-11-23 04:17] sylus commented on #38
@bernardmaltais sorry chart version 0.6.7+

[2021-02-04 21:15] patheard opened #54 "Varnish, $settings['trusted_host_patterns'] and HTTP 400 errors"
A gotcha I just discovered is that if you're using Varnish and have Drupal `trusted_host_patterns` set, you'll need to add a host pattern for your Drupal pod.

In our case, the Helm release is called `drupal-wxt-dev`, so this does the trick:

[code]

Happy to submit a PR documenting this if you let me know where you'd like it.

[2021-02-05 15:11] sylus commented on #54
Hey yeah we have to do this too :D

I think documenting it in the values.yaml files would be super helpful.

@zachomedia think is best document rather then fix ourselves directly in settings.php file?

[2021-02-05 15:27] patheard commented on #54
Ah, that's not a bad idea to just straight up fix in the settings.php file :)

[2021-02-05 15:48] zachomedia commented on #54
Yeah, that's fair, I think the best right now is to document the requirement.

[2021-02-05 16:08] sylus commented on #54
Thanks a bunch :D merged

[2021-02-05 16:08] #54 closed

[2021-02-17 23:01] thomascraig opened #56 "Azure fileshare on Kubernetes 1.19 bug"
discovered a little bug when deploying to kubernetes 1.19 on AKS with Azure fileshare - in your values.yaml file lines 286 and 293 need to append the secretNamespace or it looks in the default namspace, existing code:

      `secretName: drupal-storage`
      `shareName: drupal-public`
      `readOnly: false`

fix is to include the secretNamespace attr:

     `secretName: drupal-storage`
     `sec

[2021-02-18 14:59] sylus commented on #56
I added this as an inline comment in https://github.com/drupalwxt/helm-drupal/issues/56

Does that work for you? I don't seem to experience this in Kubernetes 1.17 atm.

[2021-02-22 13:56] patheard opened #58 "Drupal podAnnotations and resources"
Are you open to a small PR that adds `podAnnotations` and `resources` to the Drupal deployment?  My use case is that I'm trying to meet the Gatekeeper policies I've assigned to the cluster for AppArmor and resource limits.

[2021-02-22 18:10] sylus commented on #58
Of course!

Also open to improvements, please do file a P.R. :D

[2021-02-22 21:10] #58 closed

[2021-02-22 21:11] sylus commented on #56
Thinking we good with P.R. :D please reopen if not

[2021-02-22 21:11] #56 closed

[2021-03-01 21:19] zachomedia opened #60 "Azure files: storageClassName field is set when deploying PV objects"
This results in an unmapped PVC.

[2021-03-01 21:35] sylus commented on #60
https://github.com/drupalwxt/helm-drupal/pull/57/files

Based on this P.R. does the default in values.yaml just need to be; "-" ?

[2021-03-02 00:12] sylus commented on #60
I documented in values-azurefile.yaml that if you enable azureFile option you also have to set storageClass: "-"

[2021-03-05 19:07] #60 closed

[2021-03-08 18:32] thomascraig commented on #56
yes, comment works.  thanks.

[2021-04-27 18:37] bernardmaltais opened #80 "Backup script will capture the DB cache and will create huge backup files as a result"
Hello guys,

I am looking at a way to feed an ignore tables list to the backup job to prevent exporting useless tables like cache. At the moment I don't see a way to do this in the chart short of not enabling backup and creating my own cronjob outside the helm chart... but we are using the chart because everything needed is available in there... so it would defeat the purpose.

Is this something y

[2021-04-28 13:11] sylus commented on #80
Looks like we only added this in D7 so should add it to D9 as well :D

https://github.com/drupalwxt/helm-drupal/commit/4f3ac6e0f553dddc8cc44571a3554d3301949478

[2021-04-28 13:14] bernardmaltais commented on #80
I see it in D7, you are right ;-) OK, no need for my PR then. I will let you add this simple fix ;-)

[2021-04-28 13:19] sylus commented on #80
This should do it thanks so much :D

https://github.com/drupalwxt/helm-drupal/commit/259ea8ac3be7c057f849917d1f671e3f9fd49edc

[2021-04-28 13:19] #80 closed

[2021-05-23 19:53] joshuacox opened #84 "The directory /private is not writable"
![Screenshot_20210523_144044](https://user-images.githubusercontent.com/6137404/119274347-0e766380-bbd5-11eb-8dad-f940a21922a5.png)

I had a similar issue with the redis container on my setup, I needed to change its stanza to:

[code]
full [values.yaml](https://gist.github.com/joshuacox/4f41f14aaa0a3b285ae3e09a5d1f17fb)

Is there a similar `volumePermissions` stanza I can add to the drupal contain

[2021-05-24 16:21] joshuacox commented on #84
This might be fixable with an initContainer, but I'm having trouble getting the volumes in the initContainer

[2021-05-24 17:20] zachomedia commented on #84
@joshuacox Can you try something like this in your values:

[code]

[2021-05-24 17:38] joshuacox commented on #84
[code]

Hmm, how about numerically (www-data is 84:

[code]

[code]

[2021-05-24 18:09] joshuacox commented on #84
I tried adding another init container that simply did `whoami`

[code]

which I think comes from this stanza:

[code]

I cannot place one of those stanzas on the initContainer

[code]

[2021-05-24 18:24] zachomedia commented on #84
Oh! Right! I forgot that it won't run as root by default.

[code]

That should run that specific init container as root.

[2021-05-24 19:35] joshuacox commented on #84
I have one change to make on your stanza `%s/www-data/84/g`  or:

[code]

And there is a PR as well, I would happily make any suggested changes into that PR as well.

[2021-05-24 22:26] zachomedia commented on #84
Oh thanks! Yeah that makes sense, I guess that container doesn't know which uid/gid the www-data user/group is since it's pulling down just a pure alpine container. Thanks for the PR, I'll take a look when I have a bit more time to review!

[2021-05-25 16:03] joshuacox commented on #84
hold on, rethinking this.  I think my original expectation is probably the desired result. i.e. add:

[code]

[2021-05-31 12:15] #84 closed

[2021-06-07 19:50] zachomedia opened #88 "Trigger a restart of the Drupal and/or Nginx pods when the configuration changes"
Use hashing of the configmaps like in https://github.com/StatCan/charts/blob/master/stable/varnish/templates/deploy/varnish.yaml#L22 to trigger an automatic restart of the pods on configuration change.

[2021-06-17 17:43] bernardmaltais opened #89 "Ability to keep last install/upgrade job pods"
I have had many occurrence where Drupal upgrade goes failing due to some issue with drush cim or drush updb. The current job will be deleted after 5 failed execution. Would it be possible to retain the last job pod to facilitate log reviews? I think the parameter for that might be:

[code]

to

[code]

What do you think? Possibility?

[2021-06-21 17:16] sylus commented on #89
I think this looks fine, would you be able to make a P.R?

@zachomedia any comments?

[2021-06-21 18:40] bernardmaltais commented on #89
OK, I will create a quick PR.

[2021-06-21 20:21] kieran-github opened #91 "drush query to see if network and database is available for additionalCrons"
Hello,

Would it be possible to implement the following code for "additionalCrons" in order for cron containers to realize network and database connectivity:
[code]
I believe this is due to latency between the proxy and cron containers initialization?

Thanks.

[2021-06-22 22:20] sylus commented on #89
Merged :) Thanks so much in improving this chart for everyone!

[2021-06-22 22:20] #89 closed

[2021-06-23 12:25] sylus commented on #91
@zachomedia thoughts?

[2021-06-23 17:36] zachomedia commented on #91
@sylus This is the correct thing to do, I think I missed including it when I built the additional cron job feature - I asked them to open this issue if the fix resolved the issue they were experiencing.

[2021-07-06 20:16] vitaliss opened #93 "Remove requirement for lightning_core to be enabled."
While attempting to deploy to Prod I'm running into the error where lighting is trying to update. Since minimal version doesn't require lightning_core to be enabled, I'd like to remove the requirement (drush -y update:lightning) that it be enabled. That way it can be manually added to extraInstallScripts for the apps that still make use of Lighting. If that would break too many apps, could a way o

[2021-07-07 12:09] sylus commented on #93
Can u just wrap that lightning_core into only being added if boolean true? Then you can set it to false to override this default behavior?

[2021-07-07 18:09] vitaliss commented on #93
[code]
Thanks Will. Would this work? Then I set it to false in my .tf file?

[2021-07-07 18:39] vitaliss commented on #93
I made a PR. https://github.com/drupalwxt/helm-drupal/pull/94

[2021-07-07 18:58] sylus commented on #93
Hey @vitaliss almost there,

Can you go to values.yaml and set this parameter to true by default.

Then yes in yours would set to false but we need the default set so no changes happen to existing users.

Also if can bump the chart version in chart.yaml :D

Thx!

[2021-07-07 19:22] vitaliss commented on #93
Done. Thanks @sylus

[2021-07-07 19:52] sylus commented on #93
Thanks @vitaliss all merged and passed :D

[2021-07-07 19:52] #93 closed

[2021-07-23 16:45] nathanpw opened #95 "Persistent storage and environment specific variable question"
I have a question or looking for confirmation on my understanding of persistent storage mechanisms available to Drupal via these helm charts.

Context.: We need to be able to differentiate between environments (think dev/test/prod) for a Drupal migration. The migrations contain environment specific variables that we need to set and access within the containers for the migrations. Things like urls

[2021-07-26 01:13] sylus commented on #95
@zachomedia might be best to answer this but I can attempt to. I think based on my limited understanding what you really want is configmaps https://kubernetes.io/docs/concepts/configuration/configmap/ but I could be misunderstanding.

Assumptions/Understanding.:

a) Files in the container are not persistent. Any changes made to files at runtime in Kubernetes in the containers (except the mounted p

[2021-08-01 17:53] zachomedia commented on #95
Thank you @nathanpw for your questions! @sylus has provided some good information on this so far, and I'll add to it in response directly to your assumptions/understandings:

This is correct. @sylus mentions, by default the files in the container as immutable as the user the container runs as does not have write permissions to them. If by chance you can edit a file (because you run the container a

[2021-08-12 18:05] nathanpw opened #97 "Additional crons for drupal chart refernce drupal 7"
We ran into an issue where the additional crons for Drupal chart dont' work and it appears because they refernce drupal7 variables instead of Drupal. Here is the fix we are goign to try.:

https://github.com/drupalwxt/helm-drupal/pull/96

[2021-08-12 18:07] #97 closed

[2021-08-13 13:30] canasa21 opened #99 "Drupal Log in"
Hello, we had another team install Drupal in Azure but did not provide our team with credentials. Examining the Azure YAML file the user name is listed as admin and the password is commented out. Would it have been possible to install drupalwxt/helm-drupal with those defaults? I'm not familiar with Drupal in Azure but I would imagine they could simply redeploy the YAML file? Thank you.

[2021-08-14 02:16] sylus commented on #99
Hi @canasa21 you mean they install this helm chart in AKS?

By default we don't provide a password since when that var is left empty. Instead it will be auto generated if that variable is not set. Usually people would leverage their CI/CD solutions to set this variable via an environment variable passed.

https://github.com/drupalwxt/helm-drupal/blob/master/drupal/templates/secret/drupal.yaml#L20

[2021-08-19 04:50] #99 closed

[2021-08-23 15:21] #95 closed

[2021-09-07 19:02] nathanpw opened #103 "How does stderr stdout logging work?"
How does stderr stdout logging work? Particularly for NGINX and PHP-FPM. Is this a feature these charts provide?

We noticed that the nginx logs in the Drupal container (/var/log/nginx are symlinked to /dev/stderr /dev/stdout). Was curious if there was any best practice, direction, or config to manage logs. Particularly around retention time and how to access/export them (on say a file system for

[2021-09-21 13:59] canasa21 opened #104 "Error encountered during module installation"
Hello, we are attempting to configure the Helm Chart Drupal WxT for development purposes and ran into trouble when installing modules. Could this be related to a configuration issue from our installation? This error also appeared during an unrelated process and failed for the same script but different line number. Thank you.

Here are the details:
Extend > Install new module
config_devel-8x-1.8.ta

[2021-11-18 01:15] sylus commented on #104
You have to install your module using composer i am assuming you did this through the UI which can't be done as it has to be part of the container image.

The other issue is a redis issue but is merely a warning that will be fixed in the next release of WxT.

[2021-11-18 01:15] #104 closed

[2021-12-03 18:47] bernardmaltais opened #109 "Using an Azure MySQL DB is twice as slow as an AKS hosted MySQL DB"
Good afternoon Will and Zach,

This is not an issue with the helm chart per say... but rather a question  regarding the recommendation to use a CSP PaaS DB vs a K8s POD based DB for production. I just tried migrating our site to an Azure MySQL Flexible instance and I am finding that the site is less responsive... about half as responsive. The Azure MySQL PaaS instance is using a Private Endpoint o

[2021-12-03 19:41] bernardmaltais commented on #109
What is even stranger is that using sysbench I can confirm that the Azure MySQL is way faster than the AKS POD MySQL instance... but yet serving pages is twice as slow when using Azure MySQL...

POD MySQL:

[code]

Azure MySQL:

[code]

[2021-12-03 19:45] sylus commented on #109
@bernardmaltais we actually solved this, and went from pretty horrible performance to it being roughly 3-5x faster.

You will need to use:

https://docs.microsoft.com/en-us/azure/mysql/howto-redirection

See how we did it:

https://github.com/drupalwxt/docker-scaffold/commit/103f2b6f6f9e1cc0db54bba6d2c2df889e27bde0

[2021-12-03 19:49] sylus commented on #109
@bernardmaltais although i'm only using the regular Azure MySQL PaaS service with 512GB storage size for high IOPS. It works pretty well. I haven't tested the redirection module with the flexible service though.

https://github.com/canada-ca-terraform-modules/terraform-azurerm-mysql

[2021-12-03 19:51] bernardmaltais commented on #109
@sylus Thank you for the pointer... I guess it is time to update our scaffold stuff ;-)

The flexible service is more "flexible" and actually less expansive than the basic offering... and can be made HA.

[2021-12-03 19:54] sylus commented on #109
@bernardmaltais our problem at least when i last checked is the flexible service is missing some key security features such as key vault integration for CMK, threat_detection_policy, and managed identities.

We have started working on the terraform spec though and starting with the PostgreSQL one:

https://github.com/canada-ca-terraform-modules/terraform-azurerm-flex-postgresql

[2021-12-03 19:55] sylus commented on #109
@bernardmaltais but yeah I'd be interested if the redirect module works with the flexible service so please let me know!

[2021-12-03 20:01] bernardmaltais commented on #109
@sylus I know what I will work on this week-end.

[2021-12-03 20:02] sylus commented on #109
I would check if the flexible service supports it in the regular Managed PaaS there is a configuration parameter. I wonder if it is there for the flex service?

[code]

[2021-12-03 20:05] bernardmaltais commented on #109
I am not attached to the flexible version as I just started testing today ;-) I will rebuild with the basic version and make it working 1st. Then I can try switching to flexible and see if this also work... baby steps. Man, this is turning in much more work than I expected...

[2021-12-03 21:32] bernardmaltais commented on #109
@sylus Just saw that redirection does not support Private Link... arg! Not so pleased about that. Azure is a bit of a bag of hurt when it comes to AKS and PaaS DB access!

[2021-12-04 01:11] sylus commented on #109
Yeah though not AKS related since its really their database implementations that are the core problem. Azure Web Apps suffers from the same problems though now they have an option for the redirect issue as well.

https://stackoverflow.com/questions/63970567/php-on-azure-app-service-slow-performance-when-connected-to-azure-database-for-m

Interesting while PostgreSQL and MySQL suffer from this prob

[2021-12-04 01:39] bernardmaltais commented on #109
@sylus I have been able to deploy and enable mysqlnd_azure... but I am not seeing any performance difference with my previous Flexible Private Endpoint DB... Maybe the responsiveness issue is not related to an Azure Gateway latency afterall... But it was worth trying:

[code]

The strange thing is that running sysbench show faster throughput and smaller latency when using the Azure MySQL DB vs POD

[2021-12-04 01:53] sylus commented on #109
So you did the following?

a) Enabled the mysqlnd redirection on php side
b) Enabled the redirection server side in the mysql portal in the database configuration parameters
c) You are using tls 1.2 and the baltimore cert
d) sqlproxy is disabled

The performance difference was night and day for me, a fresh drupal install went from about 20-25 mins down to about 4-6 mins. If you do a fresh install

[2021-12-04 01:55] sylus commented on #109
I also did some minor tweaks MySQL wise but I don't think any of these settings were particularly important:

https://github.com/canada-ca-terraform-modules/terraform-azurerm-mysql/blob/master/main.tf#L85...L143
https://github.com/canada-ca-terraform-modules/terraform-azurerm-mysql/blob/master/variables.tf#L233...L271

[2021-12-04 01:57] bernardmaltais commented on #109
Doing a DB restore (fairly small DB that take 10 seconds on my dev machine to restore) take about 5 minutes on POD. I did notice that the Azure MySQL was giving my equivalent page loads as the POD based DB... so maybe the direct connect made a slight difference in leveling things out... but DB performance is still bad compared to a local dev laptop.

I am not expecting performance to be equivalent

[2021-12-04 02:04] sylus commented on #109
Yeah i'd expect a hit of around 20% in my experience then local and the MySQL db will def not be faster then an in cluster db as well due to networking and other considerations so that will never match unfortunately. I'd take a look at the mysql configuration I did above and set similar values which should help you a bit.

If you want near performance as your local sadly it will be flex server sin

[2021-12-04 02:06] bernardmaltais commented on #109
OK, I will try making the suggested changes and then try upgrading the DB to match yours... maybe this will make a difference.

[2021-12-04 02:09] sylus commented on #109
Yeah so:

Gen5_v4
512 GB for 1532 IOPS
mysql_version 8.0
innodb_buffer_pool_size 16106127360
max_allowed_packet 536870912
table_definition_cache 5000
table_open_cache 5000

[2021-12-04 02:14] bernardmaltais commented on #109
I do use varnish... but not redis... maybe the fact that I am not using redis is putting too much pressure on the DB for caching... and is not helping...

[2021-12-04 02:17] sylus commented on #109
Yeah but redis is mainly for logged in users and if you have lots of content / views and make user of lots of entity references etc.

Agreed 5 mins for a small db seems a bit long, I don't fully remember for the recalls site but it is about 15 gb uncompressed and I think takes about 15 mins to import, but I am doing a restore to dev tomorrow so can get a more accurate time.

Basically I just log i

[2021-12-05 00:50] sylus commented on #109
@bernardmaltais just one last tip just in case, copy your db.sql.gz to the /tmp folder in container and ensure not running the restore when its in the azure file mount or the restore will take forever.

[code]

[2021-12-06 14:50] bernardmaltais commented on #109
@sylus Interesting point. I do restore from the backup file located in the Azure File volume... I will try to use a custom restore script to copy the file 1st to temp and see if this make a difference.

So far my testing has shown that running MySQL in a POD is still the fastest... Here are the time to do a restore on 3 different MySQL:

POD: 4m49s
Azure MySQL direct connect: 5m23s
Azure MySQL fle

[2021-12-08 04:37] sylus commented on #109
Hey @bernardmaltais so I was wrong about flex it doesn’t need redirect so given that and it’s properly colocated it should absolutely not be slower then the single server.

As I to eventually want to move to flex server for the advantages and it being pure Linux I’d love to know what is going on as well.

Planning to take a look myself but please to let me know if found anything. I can even engage

[2021-12-08 04:42] sylus commented on #109
Oh did u check out thread pools for flex?

https://techcommunity.microsoft.com/t5/azure-database-for-mysql-blog/achieve-up-to-a-50-performance-boost-in-azure-database-for-mysql/ba-p/2909691

[2021-12-08 13:24] bernardmaltais commented on #109
@sylus I will have a look at the blog post on flexible server. Not sure why it is the slowest for me... possibly a configuration issue... but you can most certainly feel the difference when accessing the site as pages load twice as slow. I reached out to MS about that and I have not gotten an answer. Not a support ticket but reaching to their AKS guy...

[2021-12-09 21:23] bernardmaltais commented on #109
@sylus I have deployed redis from the chart. How can I tell if it is active? I just used the defaults from the chart values.yaml file... one of the line was commented out so I left it not knowing what it would do. Any recommendations? You site is super fast and I am trying to get close to that.

Also, have you ever written a tuning guide for your site? Asking for a friend (literally) ;-)

[2021-12-09 22:53] sylus commented on #109
Hi @bernardmaltais for redis yeah all you should need:

Here is what mine looks like:

[code]

You should then see a redis master and 2 replicas come up. The helm chart should enable redis for you but in case doesn't just run a `drush en redis`. Then you should see redis enabled and connection in the status report. With redis enabled the following gets enabled in settings.php:

- https://github.co

[2021-12-10 12:25] bernardmaltais commented on #109
Thanks. I was able to deploy and according to JMeter is reduced logged in user page load by about 20%. I saw that APCu is also recommended to be deployed on the drupal instance... but from what I could read it look like it is better fir for single node systems and that Redis essentially does the same thing. Have you done any testing between APCu and redis?

[2021-12-10 13:53] sylus commented on #109
As i understand it there is no need for APC (or any of the similar sort of bytecode caching extensions like XCache) as of PHP 5.5 and later. The PHP developers directly integrated what they call OPCache which we are using.

[2021-12-15 19:01] sylus commented on #109
Any word on Flex Server @bernardmaltais also did you enable proxysql im the helm chart? As they say should do that to.

[2021-12-15 23:53] bernardmaltais commented on #109
@sylus I have not. I have been testing with the redirection. Once the log4j wave has passed I should have more time to look into that again. But for now the speed of the redirection is acceptable ;-)

[2022-01-03 01:50] sylus commented on #103
This would be up to the user to implement, I do know for your use case this is handled via 2 methods:

1) Fluentd and soon to be Fluent Bit grabs all logs and relay to your elasticsearch instance via a configured configmap in your  namespace.

2) OMS Agent for Azure AKS Cluster is deployed and it will transparently sent logs to Log Analytics which can then later be filtered.

Normally yes there is

[2022-01-03 01:50] #103 closed

[2022-01-08 03:23] bernardmaltais opened #115 "Using new CSI shared disk instead of AzureFile"
@spotzero I just saw this potential replacement for AzureFile: https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi#shared-disk

Have you ever looked at it? This might make the whole public, private, backup much cleaner. It also appear to be a block storage... so restoring and accessing files might be much faster.

Is there a way to use existing PVC for public and private files? Like it is do

[2022-01-08 03:25] bernardmaltais commented on #115
Update... I think I see the issue... this is a raw block device... so using this to read/write files won't really work ;-(

[2022-01-08 03:58] #115 closed

[2022-01-09 21:16] bernardmaltais opened #117 "Helm chart insist on manually creating PV with specific volume name for public and private"
I ran into an issue where the current code is forcing the creation of PV with specific volume names. This is causing some issues when trying to use a custom StorageClass like:

[code]

I created a new pull request to allow the disabling of volumeNames for the shareddisk and azurefile PVC:

https://github.com/drupalwxt/helm-drupal/pull/116

I also discovered that the current sharedDisk implementati

[2022-01-10 20:06] #109 closed

[2022-01-12 20:43] bernardmaltais opened #120 "Sending Drupal logs to syslog"
Good afternoon @sylus ,

I wonder if you have ever tried to configure your drupal site to send logs to syslog vs the mysql DB? We have tried at our end and can't see any logs in the pod when trying to do this.

Any ideas?

Bernard

[2022-01-12 20:47] sylus commented on #120
I think maybe take a look at:

https://drupal.org/project/log_stdout

And can add to your composer.json. Then can use fluent bit and relay.

[2022-01-12 23:17] bernardmaltais commented on #120
Manu thanks @sylus. This is exactly what we needed!

[2022-01-12 23:17] #120 closed

[2022-01-20 01:54] sylus opened #123 "Take a look at helm-docs"
I'd like to take a look at Helm Docs more which the Argo Project pointed me at:

https://github.com/norwoodj/helm-docs

[2022-01-20 12:08] bernardmaltais commented on #123
This look like something the project could benefit a lot from.

[2022-01-23 23:51] #123 closed

[2022-02-20 22:49] #117 closed

[2022-02-26 21:16] sylus commented on #88
@zachomedia this look right?

[2022-02-27 01:49] #88 closed

[2022-02-28 03:14] sylus commented on #91
I think now we allow this whole section to be brought in via the values.yaml and overwritten depending on the end users neat :) I think this may close this one out!

[2022-02-28 03:14] #91 closed

[2022-03-07 19:26] nathanpw opened #127 "Drupal 7 redis documentation and chart versions don't align"
Steps to recreate:
- browse to https://github.com/drupalwxt/helm-drupal/tree/master/drupal7
- take note of teh redis version as of this writing "https://charts.bitnami.com/bitnami | redis | 12.10.1"
- Look at the chart.yml https://github.com/drupalwxt/helm-drupal/blob/master/drupal7/Chart.yaml :  name: redis   version: 15.7.4

Expected results the documentation should match the chart?

Problem the

[2022-03-07 19:31] sylus commented on #127
Looks like @zachomedia forgot to run helm-docs which i just did and should be good now!

https://github.com/drupalwxt/helm-drupal/commit/f4c56f4322380a5b782329a2874753195a74d030

[2022-03-07 19:31] #127 closed

[2022-03-07 19:47] nathanpw commented on #127
Thanks, appreciate you @sylus and @zachomedia !

[2022-03-07 20:40] nathanpw opened #128 "Drupal 7 redis.cluster.enabled is now mandatory?"
This is more of a question, maybe an issue... We recently tried to update our D7 site and saw the following error.:

Error: template: drupal7/templates/job/post-upgrade-reconfigure.yaml:78:32: executing "drupal7/templates/job/post-upgrade-reconfigure.yaml" at <.Values.redis.cluster.enabled>: nil pointer evaluating interface {}.enabled

We had to specify redis.cluster.enabled to false, which we did

[2022-03-07 21:18] nathanpw commented on #128
We seem to also be running into issues with the REDIS_PASSWORD environment variable not being the same in the Drupal install container/job and in redis. Not sure if this is related... On the drush status, we get the following error. We don't see this in our d9 projects (with a database restore).

<code>
Drush command terminated abnormally due to an unrecoverable error.       [error]
<h1>Additional

[2022-03-08 01:31] sylus commented on #128
Hi @nathanpw is this dev for WCMS I can take a look right now?

The logic should be virtually identical btw the drupal and drupal 7 one so its possible something got missed in the backport.

I'm checking now.

[2022-03-08 01:44] sylus commented on #128
Yup your right @nathanpw something was missed in the backport to Drupal 7 related to the redis changes. All of the D9 sites won't be affected but the D7 site needs the remaining fixes. I am going through it now, sorry for the inconvenience. I forced @zachomedia to rush the merge in to help you but we should have checked it closer.

[2022-03-08 13:54] nathanpw commented on #128
Thanks @sylus, for the quick response and fix! We will look at this, this morning!

[2022-03-08 17:44] nathanpw commented on #128
We still seem to be having issues. When I shell into the containers the $REDIS_PASSWORD environment variable now seems to match, however in the settings.php $conf['redis_client_password'] doesn't seem to be updated or match what is set in the environment variable. Not sure if this is a config on our part or still an issue in the chart...

In our d9 projects settings.php I see: `$settings['redis.co

[2022-03-08 17:50] sylus commented on #128
Yup your right pushing the fix now. (Need to wait 5 mins before u can grab)

https://github.com/drupalwxt/helm-drupal/commit/e91032f33b189dad944d0376e4d76c03200e7b16

Zach is going to write some test coverage for this so won't happen in future, and I have a D7 environment i'm can use now to test this so doesn't happen again.

Thanks for your debugging and quickly pointing me where to look ^_^

[2022-03-08 17:51] sylus commented on #128
This also makes sense since the password moved under the global field so it will be empty in yours and fallback to the default. But now getting from the environment should be ok :D

[2022-03-08 17:53] sylus commented on #128
Ok @nathanpw its out now can you try and report back?

I'm committed to fixing the remaining errors for this and apologize the backport should have been tested more which we will do more in future.

The D9 always get tested since have production deployments with it.

[2022-03-08 19:09] nathanpw commented on #128
That worked for both our d7 sites, thanks again!

[2022-03-08 19:09] #128 closed

[2022-03-11 16:38] kieran-github opened #129 "Cron jobs and timezone"
Hello,

I had some questions regarding setting the time zone for running our cronjobs as we have some that are time-sensitive and are subject to daylight savings changes. For example, if we wish to run a cronjob at 8:30AM everyday, depending on whether it's EST or EDT we will need to adjust the schedule by one hour as kubernetes runs on UTC0 which doesn't account for such thing.

I had tried to ch

[2022-04-12 23:56] zachomedia commented on #129
Unfortunately Kubernetes does not support timezones at this time in CronJobs. However, Kubernetes 1.24 will be adding a timezone field in cron jobs, at which time you will be able to specify the timezone (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md).

[2022-06-02 14:41] bernardmaltais opened #134 "Backup cronjob fail due to tar file reporting file changes during backup"
I ran into a similar issue as what @Stemirabo reported during restore and fixed via a patch.

I have fixed my issue with a patch for the cronjob script... but ultimately, I think the whole script should be made customizable via the values files. This will require quite a bit of work and would be a breaking change... so, I did not bother creating a pull request for it.

I think discussing long term

[2022-06-16 14:27] zachomedia opened #136 "Remove Varnish interception of error pages"
We should remove the default interception of error pages from the default Varnish configuration.

https://github.com/drupalwxt/helm-drupal/blob/master/drupal/values.yaml#L766

[2022-06-16 23:20] bernardmaltais commented on #136
I guess it could be commented out such that it is kept as an example.

[2022-08-22 18:34] ulan-yisaev opened #137 "Error: couldn't find key postgresql-password in Secret wxtdrupal/wxtdrupal-release-postgresql"
Hi team,

Having issues after enabling postgresql:

mysql:
  enabled: false

postgresql:
  enabled: true

[code]
[code]

Workaround:
1. Change "postgresql-password" to "password" in the following files:
![image](https://user-images.githubusercontent.com/55792896/185993735-9862be42-f13f-42fa-a3a6-a21f7de2de19.png)
e.g.:
[code]
2. Comment lines #555 - #565 in the values.yaml:
![image](https://user-i

[2022-08-23 16:27] #137 closed

[2022-08-23 16:28] sylus commented on #137
Thanks so much @ulan-yisaev and sorry for the regressions I think this is fixed up with the associated P.R. now :D

[2022-11-20 18:27] sylus commented on #109
Just wanted to chime back that I made the switch to Flex Server using the Business Critical tier and performance seems to be pretty good!